body {
    color: #666666;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color:  #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1 {
    line-height: 140%;
    padding: .5em;
}
nav {
    background-color: #F3F3F3;
    font-weight: bold;
}
h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}