* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
    background-color: #a9a8a8;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
    height:auto;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
    margin: 0 auto;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    background-color: #5FED62;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: -7px;
    z-index: 2;

}

header h1 a {
    margin: 0;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 2;

}

.text_border {
    -webkit-text-stroke: black 2px;
}

nav {
    display: flex;
    justify-content: center;
    align-self: end;
    grid-column: 2 / -2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 1em;
    font-size: 1.1rem;
    z-index: 3;
}

nav ul li:hover {
    text-decoration: underline;

}

nav ul li {
    width: auto;
    list-style: none;
    margin: 0 1rem;
    z-index: 3;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 4em;
    font-weight: bold;
    z-index: 3;
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background-color: #ffffff;
}

.logo_box {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: black;
    padding: 1em;
    z-index: 1;
}

.logo_box img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    height: 100px;
    width: 100px;
}

.logo_box img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.skin img {
    grid-column: 2 / -2;
    grid-row: 4;
    float: left;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-left: 5em;
}

main p {
    grid-column: 2 / -2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 4rem;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: #5FED62;
    padding: 1em 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media (max-width: 992px){
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 768px minmax(0, 1fr);
        }

    main {
        padding: 6.4em 0;
    }

    main p {
        padding-right: 1em;
        font-size: 4rem;
    }
    .skin img {
        margin-top: 10em;
        padding-left: 1em;
    }

    
}

@media (max-width: 768px){
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 100% minmax(0, 1fr);
    }
}