* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
    background-color: #a9a8a8;
    height:auto;
    min-height: 100vh;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    background-color: #5FED62;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: -7px;
    z-index: 2;

}

header h1 a {
    margin: 0;
    font-size: 2rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 2;

}

#text_border {
    -webkit-text-stroke: black 1px;
}

nav {
    display: flex;
    justify-content: center;
    align-self: end;
    grid-column: 2 / -2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 1em;
    font-size: 1.3rem;
    z-index: 3;
}

nav ul li:hover {
    text-decoration: underline;

}

nav ul li {
    width: auto;
    list-style: none;
    margin: 0 1rem;
    z-index: 3;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 4em;
    font-weight: bold;
    z-index: 3;
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background-color: #ffffff;
    background-image: url(images/El_Blanc0_2245yt-logo-website-backround.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

main p {
    grid-column: 5 / 8;
    grid-row: 4;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 4rem;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: #5FED62;
    padding: 1em 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

#logo_box {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
    background-color: black;
    padding: 1em;
    z-index: 1;
}

#logo_box a {
    display: inline-block;
}

#logo_box img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    height: auto;
    width: 100px;
}

#logo_box img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#skin img {
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    float: left;
    justify-content: center;
    padding-top: 2em;
    padding-left: 5em;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    padding: 1em;
    text-align: center;
    justify-items: center;
    align-items: start
}

#projects img {
    height: auto;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

#projects h2 {
    font-size: 1.2rem;
    width: 250px;
    color: white;
    text-decoration: none;
}

#projects h2 a {
    text-decoration: none;
    color: white;
}

#projects h2 a:hover {
    text-decoration: underline;
}

#projects p {
    font-size: .9rem;
    color: white;
    width: 250px;
    height: auto;
    border:#ffffff 2px solid;
    margin-top: 10px;
    padding: 5px;
}

#e2l {
    
    background: black;
    padding: 20px;
    border-radius: 5%;
    margin-left: 75px;
}

#esb {
    background: black;
    padding: 20px;
    border-radius: 5%;
    margin-right: 75px;
} 

#eml {
    background: black;
    padding: 20px;
    border-radius: 5%;
    margin-left: 75px;
}

#eme {
    background: black;
    padding: 20px;
    border-radius: 5%;
    margin-right: 75px;
}






@media (max-width: 992px) {
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 768px minmax(0, 1fr);
        min-width: 100%;
        width: 100%;
        }

        main {
            padding: 1em 0;
        }

        main p {
            font-size: 4rem;
            padding: 0.5em;
        }

        #e2l, #esb, #eml, #eme {
            margin: 0 auto;
        }

    
}

@media (max-width: 768px) {
    #wrapper {
        grid-template-columns: 100%;
        min-width: auto;
        width: 100%;
    }
    

    Nav ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.77rem;
        padding-top: 2em;
        
    }

    #skin img {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 1em 0;
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects h2, #projects p, #projects img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        width: 100%;
        max-width: 300px;
        font-size: 1.5rem;
    }

    #e2l,
    #esb,
    #eml,
    #eme {
    margin: 1em auto;
    width: 100%;       
    max-width: 400px; 
    text-align: center;
    border-radius: 15px;
}

}