* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: auto;
    background-color: #a9a8a8;
    height:auto;
    
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    background-color: #5FED62;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: -7px;
    z-index: 2;

}

header h1 a {
    margin: 0;
    font-size: 2rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 2;

}

#text_border {
    -webkit-text-stroke: black 1px;
}


nav {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    grid-column: 2 / -2;
    grid-row: 1 / 3;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    font-size: 1.4rem;
    z-index: 3;
}

nav ul li:hover {
    text-decoration: underline;

}

nav ul li {
    width: auto;
    list-style: none;
    margin: 0 1rem;
    z-index: 3;
}

nav a {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    z-index: 3;
}

main {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    background-color: #ffffff;
    background-image: url(images/El_Blanc0_2245yt-logo-website-backround.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 140px - 51px);

}



footer {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    position:relative;
    bottom: 0;
    background-color: #5FED62;
    padding: 1em 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

.logo_box {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
    background-color: black;
    padding: 1em;
    z-index: 1;
}

.logo_box a {
    display: inline-block;
}

.logo_box img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    height: auto;
    width: 100px;
}

.logo_box img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#index_main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#skin img {
    display: block;
    max-width: 100%;
    padding-top: 2em;
    padding-right: 2em;
    margin-left: .5em;
}

#skin img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#welcome_text {
    display: flex;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 4rem;
    margin: 1em .5em 1em 1em;
    padding: .5em;


}


#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    padding: 1em;
    text-align: center;
    justify-items: center;
    align-items: start
}

.project_card {
    background: black;
    padding: 20px;
    border-radius: 5%;
}   


.project_card img {
    height: auto;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}


.project_card h2 {
    font-size: 1.2rem;
    width: 250px;
    color: white;
    text-decoration: none;
}


.project_card h2 a {
    text-decoration: none;
    color: white;
}


.project_card h2 a:hover {
    text-decoration: underline;
}


.project_card p {
    font-size: .9rem;
    color: white;
    width: 250px;
    height: auto;
    border:#ffffff 2px solid;
    margin-top: 10px;
    padding: 5px;
}

#videos_main section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#videos_main h1 {
    display: inline;
    grid-column: 1 / 2;
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 20px;
    border: black 3px solid;
}

#videos_main hr {
    border: black 1px solid;
    margin: 2em 0;
}

#channel_button {
    grid-column: 2 / 3;
    padding: 1em;
    margin-right: 1em;
    justify-self: end;
}


#channel_button img {
   border-radius: 15px;
   width: 111px;
   height:auto; 
}

#latest_video img {
    width: 300px;
    height:auto;
    border-radius: 15px;    
}

#video_description {
    background-color: black;
    padding: 1em;
    border-radius: 15px;
}

#video_description p {
    color: white;
    border: white 1px solid;
    padding: 1em;
}

.video_card {
    padding: 2em;
}

.video_card img {
    width: 250px;
    height: auto;
    border-radius: 15px;
}
@media (max-width: 992px) {
    #wrapper {
        grid-template-columns: 1fr;
        width: 100%;
        }

        main {
            grid-column: 1 / -1;
            padding: 1em 0;
        }

        #index_main {
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }

        #welcome_text {
            font-size: 3rem;
            justify-content: center;
        }

        .project_card {
            margin: 0 auto;
        }

        #videos_main h1 {
            font-size: 3rem;
        }
    
}

@media (max-width: 768px) {
    #wrapper {
        grid-template-columns: 1fr;
        min-width: auto;
        width: 100%;
    }
    

    nav ul {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.77rem;
        padding-top: 2em;
        
    }

    main {
        grid-column: 1 / -1;
    }

    #index_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        width: 100%;
    }

    #welcome_text {
        font-size: 2rem;
    }

    #skin img:hover {
        transform: rotate(360deg) scale(1.05);
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects h2, #projects p, #projects img {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block; 
        width: 100%;
        max-width: 300px;
        font-size: 1.5rem;
    }

    .project_card {
    margin: 1em auto;
    width: 100%;       
    max-width: 400px; 
    text-align: center;
    border-radius: 15px;
}

    #videos_main section {
        display: grid;
        grid-template-columns: 1fr;
    }

    #videos_main h1 {
        grid-column: 1 / -1;
        margin-left: 5px;
        font-size: 2.7rem;
        justify-self: center;
    }

    #channel_button {
        display:none;
        grid-column: 1 / -1;
        justify-self: center;
        margin: 0;
        
    }

    #latest_video {
        margin: 1em;
    }

    #video_description {
        margin:auto 2.9em;
    }

    #video_description p {
        font-size: 0.7em;
    }

}