* {
    box-sizing: border-box;
}

main {
    padding: 0em 2em 0em 2em;
    grid-row: 4/5;
    grid-column: 2/-2;
}

main img {
    float: right;
    padding-left: 2rem;
}

body {
    color: #666666;
    background-color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-row: 1/2;
    grid-column: 2/-2;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

header h1 {
    line-height: 140%;
    padding: .5em;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

nav {
    background-color: #424242;
    font-weight: bold;
    grid-row: 2/3;
    grid-column: 2/-2;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease-out;
}

nav a:hover {
    background-color: #BA1C21;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

video {
    float: right;
    margin-left: 2rem;
}

h3 {
    color: #003058;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5/6;
    grid-column: 2/-2;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 0.75rem;
    width: 100%;
}

table {
    margin: 0 auto;
    border:1px solid #424242;
    width: 100%;
    border-collapse: collapse;
}


th, td {
    padding: 5px;
    border: 1px solid #424242;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #F3F3F3;
}

input, textarea
{font-size: 1rem;
padding: 10px;
color: #666666;
background-color: #fafafa;
border: none}

input:focus, textarea:focus {
    outline:none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}


#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    width: 80%;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
    margin: 0 auto;
}

#bluebar {
    background-color: #003058;
    grid-row: 1/2;
    grid-column: 1/-1;
}

#greybar {
    background-color: #424242;
    grid-row: 2/3;
    grid-column: 1/-1;
}

#mySubmit {
    width: 10rem;
    grid-column: 2/3;
}


#homehero {
    height: 300px;
    background-image: url(images/homehero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 3/4;
    grid-column: 1/-1;
}

#studenthero {
    height: 300px;
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 3/4;
    grid-column: 1/-1;
}

#facultyhero {
    height: 300px;
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 3/4;
    grid-column: 1/-1;
}

#alumnihero {
    height: 300px;
    background-image: url(images/alumnihero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 3/4;
    grid-column: 1/-1;
}

@media (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

@media (max-width: 900px) {
    nav {
        grid-column: 1/5;
        grid-row: 2/3;
        position: static;
    }
    video {
        float: none;
        margin-left: 0rem;
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-flow: column nowrap;

    }

    #homehero,
    #studenthero,
    #facultyhero,
    #alumnihero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
}

@media (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    #homehero,
    #studenthero,
    #facultyhero,
    #alumnihero {
        display: none;
    }
}